dnds/tmp
dnds/tmp/*
names/__pycache__/
report/.*
test
test/*
resultPrep/__pycache__/
resultPrep/__pycache__/*
stopcodons/__pycache__/
stopcodons/__pycache__/*
stopcodons/test.tsv
r/model/results/*
r/model/results